.multi-carousel-item {
    text-align: center!important;
}
.multi-carousel-item img {
    width: 230px!important;
    height: 170px!important;
    object-fit: cover;
}
.carousel-horizontal .h2title {
    font-size: 30px;
    padding-top: 4px;
    text-align: center;
}
.carousel-horizontal .h3title {
    font-size: 24px;
    padding-top: 4px;
    text-align: center;
}
