
.header-backup{
    background: #000;
}
header .top {
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: relative;
}

header .top .logo img {
    top: 60px;
    z-index: 10;
    position: relative;
}
header .top .phone {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
}
header .top .phone p {
    font-size: 36px;
}

hr.line_yellow {
    background: #FBCF0A;
    width: 100%;
    height: 6px;
    margin: 0;
}
hr.line_gray {
    background: #f2f2f2;
    width: 100%;
    height: 6px;
    margin: 0;
}

/* menu - inicio */
/* section.menu {
    z-index: 1;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 0px 20px 20px 0px;
}
section.menu hr.line_gray:last-child{
    background: inherit;
}
section.menu nav.navbar{
    padding: 0;
}
section.menu nav.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
section.menu nav.navbar ul li a{
    display: grid;
    padding: 8px 16px;
    justify-items: center;
    
}
section.menu nav.navbar ul li a img{
    width: 30px;
}
.menu nav.navbar ul li a p {
    color: #767070;
} */


/* menu - fim */

/* banner - inicio */

/* banner - fim */

